* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    /*all other font-sizes will by percents of this so only this one has to be changd and everything else will scale accordingly*/
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto; /*top/bottom: 0, left/right: auto*/
}

header {
    /*the linear-gradient (from black to black) puts an overlay on the image so the text will show up*/
    background-image: linear-gradient(rgba(0 ,0 ,0 , 0.7), rgba(0, 0, 0, 0.7)), url('img/hero.jpg');
    background-size: cover; /*makes the image fit the viewport*/
    background-position: center;
    height: 100vh; /*makes it 100% of the viewport height*/
}

.hero-text-box {
    position: absolute; /*absolite allows us to vertically and horizontally center it*/
    width: 1140px;
    /*the following settings make the text centered in the box*/
    top: 50%;
    left: 50%;
    /*currently centered by the beginning of the text, this shifts it by half the width and half the height so it is actually centered*/
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.btn:link, /*base state-unvisited*/
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}